# Firebase Configuration Example
FIREBASE_API_KEY=4/0AXlqoi6zyjenXUvXyoKkS8yM5czTsjZBJ44OdSg84P4dL8pgfvcXB5DL8nhsUXUkTImpjw
FIREBASE_AUTH_DOMAIN=dcare-app-123.firebaseapp.com
FIREBASE_PROJECT_ID=dcare-app-123
FIREBASE_STORAGE_BUCKET=dcare-app-123.appspot.com
FIREBASE_MESSAGING_SENDER_ID=102938475612
FIREBASE_APP_ID=1:102938475612:web:789abcde...
